body {
    color: #525252;
}
.vegas-background {
    opacity: 0.4;
}
.vegas-overlay {
    background-color: #f8c988;
    background-image: none !important;
    opacity: 0.8;
}
#grid h2 {
    font-family: Oswald, sans-serif; 
}
#grid-left-sidebar {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
}

.slogan-bg {
    font-family: 'Arial Narrow', Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: right;
    color: #E6C38C;
    padding: 3px 0px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    box-shadow: 0px 0px 0px #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
 }
.dropdown-menu > li > a {
    color: #fff;
}
.dropdown-menu > li > a:hover {
    color: #346a4d;
    background-color: transparent;
}

#carousel-slider p {
    font-size: 22px;
}

/*Sidebar Template Nav*/
.nav-left-sidebar {
    margin-top: 20px;
    padding-left: 0;
}
.nav-left-sidebar li {
    list-style: none;
}
.nav-left-sidebar li a {
    color: #39ab6f;
}
.nav-left-sidebar li a:hover {
    text-decoration: none;
    opacity: 0.7;
    color: #39a7ab;
}

.content-left-sidebar hr {
    border-top: 1px solid #525252;
}

/*Remove Glitchy Overlay*/
/*
.vegas-overlay {
    display: none;
}
*/

/*Style the Contact Area in Sidebar Template*/
.text-left {
    text-align: left;
    padding-bottom: 0;
}
.full-hr hr {
    width: 100%;
}
#contact .contact-wrapper.contact-left-sidebar {
    padding: 0;
}
.btn-custom-two:hover {
    border-top: 2px solid #39a7ab;
    border-right: 2px solid #39a7ab;
    color: #525252;
}


.about-copy p {
    font-family: Ubuntu, sans-serif;
    text-transform: initial;
    text-align: left;
}
.about-copy .btn {
    float: left; 
}

.panel-body {
    font-family: Ubuntu, sans-serif;
    text-transform: initial;
}

.about-toggle {
    display: none;
}